<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true" 
    xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
        <add assembly="NLog.MailKit"/>
    </extensions>
    <targets>
        <target name="logfile" xsi:type="File" fileName="../../../file.log" layout="${level:uppercase=true} ${logger} ${longdate}: ${message} (${exception})" />
        <target xsi:type="ColoredConsole" name="console" layout="${longdate} ${logger}: ${message}" useDefaultRowHighlightingRules="true"/>
        <target xsi:type="Mail" name="email" layout="${level:uppercase=true} ${logger} ${longdate}: ${message} (${exception:format=toString})" addNewLines="true" subject="Error RMS" to="robin@kock-hamburg.de" from="no-reply@error-reporting.net" smtpUserName="logger" smtpPassword="dmZhM3V3eWdtemsw" smtpAuthentication="Basic" smtpServer="mail.smtp2go.com" smtpPort="2525" skipCertificateValidation="True" />
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="logfile" />
        <logger name="*" minlevel="Info" writeTo="console" />
        <logger name="*" minlevel="error" writeTo="email" />
    </rules>
</nlog>